<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Guestbook-final</title>
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/assets/semantic.min.css">
</head>

<body>
    <div class="ui container menu">
        <div class="header item">
            My GuestBook
        </div>
        <%if(user){%>
            <a class="item <%=active=='home' ? 'active' : ''%>" href="/">
		    Home
		  </a>
            <a class="item <%=active=='guests' ? 'active' : ''%>" href="/user/guests">
		      View all Guests
		    </a>
            <a class="item <%=active=='newguest' ? 'active' : ''%>" href="/user/guest/create">
			      Create New Guest
			    </a>
            <a class="item" href="/user/logout">
			      Logout
			    </a>
            <a class="item">
			     Hi <%=user.local.email%>
			    </a>
            <%}else{%>
                <a class="item <%=active=='home' ? 'active' : ''%>" href="/">
		    Home
		  </a>
                <a class="item <%=active=='guests' ? 'active' : ''%>" href="/user/guests">
		      View all Guests
		    </a>
                <a class="item" href="/user/login">
			      Login
			    </a>
                <%}%>

    </div>